#spotlightJob>div:last-child{
    border-bottom: 1px solid #e5e7eb;
}
#hrspotlight{
    width: 1200px;
    /* background-color: red; */
    /* width: max-content; */
    overflow:hidden;
    /* margin: 24px auto; */
}
#hrspotlight::-webkit-scrollbar{
    display: none;
}

.item{
    transition: 0.5s;
}